<div class="container my-5">
  <div class="text-center">
  <h1 class = "h3 mb-2">Ball Allocation Task</h1>
    
  </div>
  <% if current_user.allocation_tests.empty? %>
        <script>
      $(document).ready(function(){
            
              $('#instructionsModal').modal('show');
            });
    </script>
<!-- Modal -->
<div class="modal fade" id="instructionsModal" tabindex="-1" role="dialog" aria-labelledby="instructionsModalLabel" >
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="instructionsModalLabel">Instructions (Stage 2)</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
        Congratulations on passing the first stage!
        </p>
        <p>
          You have 100 balls to allocate to these bins. Each bin represents an interval for sliders answered correctly. Each ball represents 1 percent of belief that the total number of correct sliders answered in all screens in the previous stage lies within that interval.
        </p>
        <p>
          Your task is to allocate the balls according to your belief about how many sliders you got correctly in Stage 1.
        </p>
        <p>
          Note: The more balls you place in the bin that contains your actual number of correct sliders, the greater your chance is of winning bonus points, so guess wisely!
        </p>
        <div>
          <div>This is the ball allocation task</div>
          <%= image_tag "ball-allocation.png", class: "img-fluid" %>
          <div>
            In the example above, our participant placed 25 balls in the bin with the interval of 0-15. This means that he is 25% sure that he got somewhere between 0 to 15 sliders correctly out of all the sliders he answered in Stage 1.
          </div>
          
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Start</button>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <%= render 'form', allocation_test: @allocation_test %>


</div>
