<div class="container my-5">
  <div class="jumbotron">
    <div class="text-center">
    <h1 class="display-4">Slider Test</h1>
    <%= link_to "Start Test", new_test_path, class: "btn btn-primary"%>
      
    </div>
  </div>

</div>
