
.slider
{
    width: 100%

}
    
@for $i from 1 through 10
{
  .slider:nth-child(#{$i})
  {
    margin-left: random(100) + px;

  }
}

.alert-overlay {
  position: fixed;
  top: 5px;
  left: 2%;
  width: 96%;
  z-index: 9999;
}


@import "bootstrap";

