// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
    
@for $i from 1 through 11
{
  .slider:nth-child(#{$i})
  {
    margin-left: random(100) + px;

  }
}

input[type="range"] {
  pointer-events: none;

}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;

}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;

}

input[type="range"]::-ms-thumb {
  pointer-events: all;

}

