
<div class="container my-5">
  <div class="text-center">
    <h1 class = "mt-3">Instructions (Stage 5)</h1>
    <p>
      We would like to ask you to do the Slider Task and the ball allocation Task once again! 
    </p>
    <p>
      The instructions for these tasks will be effectively the same (same number of Sliders Screens), and subject to the same prizes (which means possibly double the points!)
    </p>
    <p>
      However, this time your participation is voluntary. You can either choose to end the experiment now or later or simply complete the whole task.
    </p>
    <p>
      After this you will be brought to the landing page at the end of the experiment where you may answer a quick survey and receive the instructions to collect your prize.
    </p>
    <div class="text-center my-5">
      <%= link_to "Do more", new_test_path, class: "btn btn-lg btn-secondary mr-4" %>
      <%= link_to "Skip", survey_path, class: "btn btn-lg btn-secondary" %>

    </div>

  </div>


</div>
