
<div class="container my-5">
  <h1>
    Instructions
  </h1>
  <p>
    Thank you for agreeing to join our experiment.
    This experiment has 6 Stages and completing the whole experiment is expected to take no more than 30 minutes, and you will be compensated for your time and effort.
  </p>
  <p>
    1 Point you earn in this experiment is equivalent to a reward of 1 Peso. In fact, just for agreeing to join this experiment, you have already received 50 points. 
  </p>

  <p>
    Instructions on how to claim your prize will be given at the end of the experiment, so stick around!
  </p>

  <div class="text-center mt-5">
    <%= link_to "Start Test", slide_instructions_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
