
<div class="container my-5">
  <h1>
    Instructions
  </h1>

  <p>
    Good day! Thank you for agreeing to participate in our Thesis group's experiment. For simply agreeing to show up and performing the experiment to its completion, you will be awarded 50 points! Each point will be exchanged for 1 Philippine Peso at the end of the experiment, and there will be plenty of opportunities to earn more points later on.
  </p>
  <p>
    This page will serve as an instruction screen that will go over what you will need to do at each part of the experiment. You may spend up to 10 minutes reading and understanding this page before moving on to the first stage of the experiment. You are free to bring up this instruction screen to look back on at any point in the experiment if you wish. The experiment is expected to take around one to two hours to complete, so please prepare yourself ahead of time as you are not allowed to take breaks in between.
  </p>
  <p>
    Today, you will be asked to perform a series of tasks over six stages and your answers and results in these tasks will be recorded for our research purposes.
  </p>
  <p>
    In the first stage, you will be asked to perform a slider task. Essentially you will see a screen filled with 11 sliders and your goal is to set the slider as close to the middle as possible. This will require some effort as there is no indicator if the slider is in the middle or not and you have to "eyeball" the task. You will perform the slider task for a total of 20 screens, resulting in a total of 220 sliders to be set. For each slider that you get correctly, you will earn 1 point. You will have exactly one minute to answer each slider screen before being automatically sent to the next screen.
  </p>
  <p>
    After each screen in the slider task, you will be also asked to answer a choice list screen. The choice list screen is a list of choices where you must choose what you prefer, to participate in a coin toss where you will either receive an extra 3 points or no extra points or to bet that you got X amount of sliders in the previous screen correctly, where X is a number increasing from 1 to 11, and if you are correct, you will get 3 extra points and no extra points for being wrong.
  </p>
  <p>
    After answering all 20 slider screens and choice list screens, you will then proceed to the second stage.
  </p>
  <p>
    In Stage two, you will have to distribute 100 balls over 11 bins. Each bin will have an interval from 0 to 20, 21-40 and so on until 201-220.  Your task is to put balls into each bin where you believe you had the total number of correct sliders from the previous stage. Do note that at this point, you do not have information about how many sliders you actually correctly set in the middle in the first stage. Therefore, you will be making this distribution based on your own beliefs about your performance.
  </p>
  <p>
    For example, if you believe that there is a 38% chance that you got 46 sliders correctly out of the 220 balls in the slider task, then you should put 38 balls in the bin that contains the interval 41-60. If there is a 62% chance that you got 76 sliders correctly, you should put the remaining 62 balls into the slider that contains the interval 61-80. It is recommended that you answer as to how well you think you performed in the first stage, as there is a chance to win an extra 50 points in this stage and your likelihood of winning these extra points increases the more balls you place in the bin that contains the actual number of correct sliders you answered in the previous stage. So for example, if you actually got 90 sliders correct in stage 1, then the more balls you allocate in the bin with the interval 81-100, then the larger your chance of winning 50 extra points.
  </p>
  <p>
    In Stage 3, you will be asked a question about your willingness to receive information regarding how well you actually performed in Stage 1.
  </p>
  <p>
    In Stage 4, you will be randomly assigned to one of two groups  INFO or NOINFO, either you will receive information regarding your performance in the INFO group or you will simply wait in the NO INFO group. The INFO group will be informed about how many slider screens they actually correctly answered in stage 1 and they will have two minutes to read and understand this information. The NOINFO group will simply be told to wait for the same two minutes. Note that your answers in Stage 3 will have no bearing at all in the random assignment in stage 4.
  </p>
  <p>
    In Stage 5, you will once again be asked if you want to perform the Slider task which took place in stage 1. If you do not want to perform the slider task again, you may simply exit the experiment from this stage onward and proceed to exchange your points for money after answering a quick survey. If you choose to perform the task, you will also receive points for each correct slider set in this task in the same manner as the first slider task, and you will once again face a choice list screen after each slider screen. However, after each choice list screen you will be given an option if you want to exit and forego performing the rest of the slider screens in the test.
  </p>
  <p>
    In stage 6, you will once again perform a ball allocation task with 100 balls to be distributed over 11 bins. However, the interval of each bin will be modified based on the actual number of slider screens you answered in stage 5. For example, if you decided to quit after 4 slider screens in stage 5, the bins will now have intervals ranging from 0-4, 5-8, and so on until 41-44 because there would only be 44 total slider screens answered by you in stage 5. The rules and the objective of the task will be the same as with the task done in stage 2.
  </p>
  <p>
    After performing all six (or four) stages of the experiment, you will then be asked to answer a quick survey regarding your demographic and completing this survey will earn you an extra 10 points.
  </p>
  <p>
    When you are done, you will be informed of your total earnings and you may exit the experiment. Your reward will be sent to you via the method you selected (either bank transfer, gcash or paymaya) upon signing up. 
  </p>

  <div class="text-center mt-5">
    <%= link_to "Start Test", new_test_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
