
<div class="container my-5">
  <h1>
    Instructions (Stage 1)
  </h1>
  <div class="row my-5">
    <div class="col-md-6">
      <%= image_tag "slider1.png", class: "img-fluid" %>
      <div class = "text-center">
        This is a slider screen
      </div>
      
    </div>

    <div class="col-md-6">
      <%= image_tag "slider2.png", class: "img-fluid" %>
      <div class = "text-center">
        This is someone's attempt to answer a slider
      </div>
      
    </div>
  </div>
  <div>
</div>
<div class="text-center">

  <p>
    Your task is to set all the Sliders in the screen EXACTLY in the middle. 
  </p>
  <p>
    You will have 1 minute to answer each screen and there are 10 Screens in total.
  </p>
  <p>
    For each Slider you get correctly you will get 1 point. 
  </p>
  <p>
    (There are 11 Sliders per screen, meaning up to 111 Points can be gained from this part of the experiment alone)
  </p>
  <p>
    After each Screen, you will be asked a question.
  </p>
  <p>
    Further instructions for the next stages will be provided as needed. Good luck!
  </p>
  
</div>

  <div class="text-center mt-5">
    <%= link_to "Start Test", new_test_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
