
<div class="container my-5">
      <h1>Thank you for participating in this test</h1>
      <div>Before we show you your results, please answer this survey to get additional points:</div>
      <div>LINK HERE</div>

      <div>Once you're done, click on the button below</div>

      <%= link_to "Show My Results", info_result_path, class: "btn btn-primary mt-3" %>
      
  
</div>
